.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.col-wide {
    grid-column: 1/-1;
}

.imagem-1 {
    grid-row: span 2;
    align-self: end;
}

.item-2 {
    align-self: end;
}

.content p {
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: -0.005rem;
    color: #2e2e2e;
}

.informaçãoes p+p {
    margin-top: 30px;
}

.titulo {
    color: #b07dfb;
}

.titulo h1 {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
}

.titulo span {
    font-size: 1.1rem;
    font-style: italic;
}

.content .destaque {
    font-size: 1rem;
    max-width: 34ch;
    color: #b07dfb;
}

.citacao,
.atributos {
    align-self: start;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.citacao p {
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    color: white;
    max-width: 500px;
    margin: 0 auto;
}

.atributos li {
    color: white;
    font-family: Courier, monospace;
    font-size: 1.125rem;
    padding: 15px;
}

.atributos li+li {
    border-top: 2px solid #b07dfb;
}
