* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: .2s;
    border: none;
}

body {
    font-family: 'Vollkorn', serif;
    color: #222;
}

a {
    color: inherit;
    display: block;
}

img {
    width: 100%;
    display: block;
    height: auto;
}

img[src$='.jpg'] {
    border-radius: 5px;
}

body::-webkit-scrollbar {
    width: 11px;
    background-color: whitesmoke;
}

body::-webkit-scrollbar-thumb {
    background-color: #b07dfb;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}